<h1>Create User</h1>
<%= form_for(@user) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<br>
		<h2>Subscription Selection</h2>
		<%= render :partial => 'checkbox', :locals => { :f => f } %>
		<%#= render :partial => 'select' %>
		<%= hidden_field_tag "user[subscription_plan_ids][]" %>
		<br>
	<%= f.submit %>
<% end %>

