<h1>Create Newspaper</h1>
<%= form_for(@newspaper) do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<br>
	<%= f.label :editor %>
	<%= f.text_field :editor %>
	<br>
	<br>
	<h2>Create Subscription Plan</h2>
	<%= f.fields_for(:subscription_plans) do |sub| %>
		<%= sub.label :name %>
		<%= sub.text_field :name %>
		<br>
		<%= sub.label :price %>
		<%= sub.number_field :price %>
		<br>
		<%= sub.label :is_daily, "Daily", :value => true %>
		<%= sub.radio_button :is_daily, "true" %>
		<%= sub.label :is_daily, "Weekly", :value => false %>
		<%= sub.radio_button :is_daily, "false" %>
		<br>
	
	<% end %>

	<%= f.submit %>
<% end %>